[Unit]
Description=Restart Webapp Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restart_webapp.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

