[Unit]
Description=Webapp Service
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
ExecStart=/usr/local/bin/webapp
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
Restart=on-failure

#Set Environment variables
EnvironmentFile=/etc/webapp.env

[Install]
WantedBy=multi-user.target
