name: Build and Deploy Go Application

on:
  push:
    branches:
      - main

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.15'

    - name: Build Go application
      run: |
        go build -o myapp ./...

    - name: Upload Go binary as an artifact
      uses: actions/upload-artifact@v2
      with:
        name: go-binary
        path: ./myapp

  packer-build:
    needs: build-and-upload
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code again
      uses: actions/checkout@v2

    - name: Download Go binary artifact
      uses: actions/download-artifact@v2
      with:
        name: go-binary
        path: ./artifact

    - name: Install Packer
      run: |
        curl -O https://releases.hashicorp.com/packer/1.7.4/packer_1.7.4_linux_amd64.zip
        unzip packer_1.7.4_linux_amd64.zip
        sudo mv packer /usr/local/bin

    - name: Configure GCP Credentials
      uses: google-github-actions/setup-gcloud@v0
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Run Packer to build the image
      env:
        BINARY_PATH: ./artifact/myapp
      run: |
        packer build -var "binary_path=${BINARY_PATH}" webapp_image.pkr.hcl

