name: Go Tests

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: ${{ secrets.TEST_DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.TEST_DB_NAME }}
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.21.6'
    - name: Run Go Test
      env:
        TEST_DB_HOST: ${{ secrets.TEST_DB_HOST }}
        TEST_DB_USER: ${{ secrets.TEST_DB_USER }}
        TEST_DB_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
        TEST_DB_NAME: ${{ secrets.TEST_DB_NAME }}
    - name: Test Environment Variables
      run: |
        echo "DB Variable Set: ${TEST_DB_HOST:+true}"
        echo "User Variable Set: ${TEST_DB_USER:+true}"
        echo "Password Variable Set: ${TEST_DB_PASSWORD:+true}"
        echo "Database Name Variable Set: ${TEST_DB_NAME:+true}"
        go test ./...