name: Go Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    if: github.repository == 'CSYE-6225-Cloud-Adarsh-Raj/webapp'
    # services:
    #   postgres:
    #     image: postgres:16
    #     env:
    #       POSTGRES_USER: ${{ secrets.TEST_DB_USER }}
    #       POSTGRES_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
    #       POSTGRES_DB: ${{ secrets.TEST_DB_NAME }}
    #     ports:
    #       - 5432:5432

    steps:
    - name: Setup Postgres
      run: |
        sudo systemctl start postgresql
        sudo systemctl enable postgresql
        sudo -u postgres psql -c "CREATE USER ${{ secrets.TEST_DB_USER }} WITH PASSWORD  '${{ secrets.TEST_DB_PASSWORD }}'"
        sudo -u postgres psql -c "CREATE DATABASE ${TEST_DB_NAME};"
        sudo -u postgres psql -c "ALTER ROLE ${TEST_DB_USER} SUPERUSER;"
        sudo systemctl restart postgresql
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.6'
    - name: Run Go Test
      env:
        TEST_DB_HOST: ${{ secrets.TEST_DB_HOST }}
        TEST_DB_USER: ${{ secrets.TEST_DB_USER }}
        TEST_DB_PASSWORD: ${{ secrets.TEST_DB_PASSWORD }}
        TEST_DB_NAME: ${{ secrets.TEST_DB_NAME }}
      run: |
        go test -v ./...
